.product {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 40px;
  display: flex;
  width: 40rem;
  margin-top: 15px;
  justify-content: space-around;
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.065);
  color: #444;
}

.button {
  color: #6d28d9;
  outline: none;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
}

.increment {
  background-color: #ede9fe;
}

.value {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ede9fe;
  color: #6d28d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
}

.input {
  outline: none;
  border: 1px solid #6d28d9;
  padding: 5px 2px;
  border-radius: 5px;
}
.input:focus {
  border: 2px solid #6d28d9;
}
